.welcomeDiv1{
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 35px;
    color: aliceblue;
}
#personalInformation{
    width: 360px;
    height: 380px;
    float: left;
    position: relative;
    top: 45px;
}
#form{
    text-align: center;
    position: relative;
    margin-left: -50px;

}
#form td{
    height: 42px;
    width: 160px;
    text-align: right;
    font-size: 17px;
    vertical-align: top;
}
.modifyPassword{
    width: 350px;
    height: 380px;
    position: relative;
    top: 110px;
    float: right;
}
#form1{
    text-align: center;
    position: relative;
    right: 50px;

}
#form1 td{
    height: 42px;
    width: 160px;
    text-align: right;
    font-size: 17px;
    vertical-align: top;
}
#checkAuthority{
    position: relative;
    top:30px;
    width: 350px;
}
#checkAuthority a{
    font-size: 17px;
    color: #dee2a9;
}
#checkAuthority a:hover{
    color: #05b7a7;
}
.buttom {
    background: #05b7a7;
    width: 200px;
    height: 30px;
    text-align: center;
    border: #807777;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.ipt {
    width: 199px;
    height: 22px;
    background: #fff;
    text-indent: 3px;
    line-height: 20px;
    vertical-align: middle;
    font-size: 12px;
    text-align: left;
}
