

.titleText{
    position:relative;
    left:50%;
    top:15px;

    width:500px;

    margin-left: -250px;

    color:white;
    text-align: center;
    padding:15px;
}

.accountListDiv{
    position: relative;
    top:25px;
    left:50%;

    width:1000px;

    margin-left: -500px;
}
.accountListDiv table tr th{
    width:100px;
    text-align: center;
    color:white;
    padding-bottom: 15px;
}

.accountListDiv table tr td{
    width:100px;
    text-align: center;
    color:white;
    padding:10px;
}
.accountListDiv a {
    color: #05b7a7;
    margin: 10px;
    font-size: 17px;
    text-align: center;
}
.accountListDiv a:hover{
    color: #07e1ce;
}

.pageDiv{
    position: absolute;
    top:560px;
    left:50%;

    width:800px;

    margin-left: -330px;
    color:white;

}