.searchDiv{
    position: relative;
    top: 50px;
    left:25%;

    width:300px;

    margin-left:-50px;

    color: white;
}

.searchDiv table tr td{
    padding:10px;
}

.searchDiv th{
    color:white;
}

.chartDiv{
    position: relative;
    left: 75%;
    top:-350px;

    width:600px;
    height: 400px;

    margin-left: -300px;
}

.searchTable tr td{
    width: 100px;
    color: white;
}