.appSearchInputDiv{
    position:relative;
    top:80px;
    left:25%;

    margin-left:-150px;

    width:300px;
    height:300px;

    color:white;
}

.appSearchInputDiv table tr td{
    padding:15px;
    vertical-align: middle;

}

.appSearchInputDiv table tr td p {
    color:#e0eacf;
    vertical-align: middle;
    margin:0;
}

.appKindSearchInput{
    position:relative;
    top:50px;
    left:25%;

    margin-left:-150px;

    width:300px;
    height:300px;

    color:white;
}

.appKindSearchInput table tr td{
    width:80px;
    padding: 2px;
    text-align: center;
}

.appListDiv{
    position:absolute;
    right:70px;
    top:120px;
    margin-left:-300px;
    width:700px;
    min-height: 520px;
}

.appListDiv table tr td{
    width: 120px;
    padding-bottom: 7px;
    text-align: center;
    color: white;
}

.appListDiv table tr th{
    width: 120px;
    color: #b7f0ff;
    text-align: center;
    padding-bottom: 15px;

}.appListDiv table th{
    font-size: 20px;
    padding-top: 10px;
 }

.pageDiv{
    position: absolute;
    right:0;
    top: 600px;

    color: white;
}