
.welcomeDiv1{
    font-size: 30px;
    text-align: center;
    position: relative;
    top: 50px;
    color: aliceblue;
}
#signAuthority{
    position: relative;
    top: 100px;
    color: aliceblue;
}

#form{
    text-align: center;
    position: relative;
    top: 110px;

}
tr td{
    height: 50px;
    width: 160px;
    text-align: center;
    font-size: 17px;
    color: aliceblue;
}
.apply{
    width: 100%;
    position: relative;
    top: 170px;
    text-align: center;
    font-size: 17px;

}

.apply a{
    color: #dee2a9;
    margin: 20px;
    font-size: 20px;
    text-align: center;
}
.apply a:hover{
    color: #05b7a7;
}
