.mainDiv{
    position: relative;
    top: 50px;
    width: 1000px;
    left: 50%;
    margin-left: -500px;
}
.welcomeDiv{
    position: relative;
    width:400px;
    top:150px;
    color:white;
    text-align: center;
    float: left;
}
.welcomeDiv a{
    color: #d8e2a6;
    font-size: 16px;
}
.welcomeDiv a:hover{
    color:#2EB398;
}

.actionDiv{
    position: relative;
    top: 100px;
    width: 270px;
    float: right;
}

.appSearchAction{
    top: 50px;
    font-size: 15px;
    height: 100px;
}

.actionDiv ul{
    width:300px;

    float:left;

    color:#e0eacf;
}

.actionDiv li{
    width:100px;
    height: 30px;
    float:left;
}

.logAction{
    top:50px;
    text-align: center;

}



.userAction{
    position: relative;
    text-align: center;
    font-size: 12px;
}



.managerDiv, .developerDiv{
    position: relative;
    font-size: 15px;
}

.loginText{
    position: relative;
    text-align: center;
    top:150px;
    font-size: 15px;
}

