#mainContainer{
    width:800px;

}

#mainContainer li{
    width:400px;
    height: 200px;
    float: left;
    margin-top: 40px;
    margin-left: 40px;
}

.apkListDiv{
    position:absolute;
    top: 60px;
    left: 50px;

    width:1500px;
    height:650px;

    color: white;
}

.ApkDiv table tr td{
    width:150px;
    padding:5px;
}

td{
    color: white;
}


