#mainContainer{
    width:800px;
}

#mainContainer li{
    width:400px;
    height: 200px;
    float: left;
    margin-top: 40px;
    margin-left: 60px;
}

.apkListDiv{
    position:relative;
    width:1500px;
    top: 60px;
    left: 50%;
    height:650px;
    margin-left: -750px;
    color: white;
}

.ApkDiv table tr td{
    width:150px;
    padding:5px;
}

td{
    color: white;
}


