<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory name="foo">

        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/appsystem?serverTimezone=UTC</property>
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>
        <!-- 要根据自己使用的数据库来配置相对应的属性，也成方言，针对不同数据库
             关于怎么配置可以查看HibernateAPI
         -->

        <property name="connection.autocommit">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Hibernate 創建的SQL語句会显示在控制台 -->
        <property name="hibernate.show_sql">true</property>

        <!-- 选择方案，常用值：validate | update | create | create-drop -->
        <property name="hbm2ddl.auto">update</property>
        <mapping class="com.NJUST.ZCW.Entities.AccountEntity"/>
        <mapping class="com.NJUST.ZCW.Entities.AuthorityrequireEntity"/>
        <mapping class="com.NJUST.ZCW.Entities.ApplicationEntity"/>
        <mapping class="com.NJUST.ZCW.Entities.ChgpwdEntity"/>
    </session-factory>
</hibernate-configuration>